/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #030202;
    color: #ffffff;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

/* Header */
header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5rem;
}

.home-btn {
    padding: 10px 20px;
     background-image: radial-gradient( closest-side ,#b97602, #9b0000d1);
    color: #fbfbfb;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    /* transition: background-color 0.3s ease; */
    border-bottom: 5px solid rgb(50, 50, 50);
    box-shadow: 0px 1px 6px 0px rgb(235, 254, 129);
    transform: translate(0, 3px);
    transition: 0.2s;
    transition-timing-function: linear;
    margin-top: 20px;
  }

.home-btn:active {
  cursor: pointer;
  transform: translate(0, 0);
  border-bottom: 2px solid rgb(50, 50, 50);
}


/* Game Intro Section */
.game-intro {
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.game-intro h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.game-intro p {
    font-size: 1.1rem;
    line-height: 1.8;
}

/* Game Rules Section */
.game-rules {
    background-color: #444;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.game-rules h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.game-rules ul {
    list-style-type: square;
    padding-left: 20px;
}

.game-rules li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

/* How to Play Section */
.how-to-play {
    background-color: #555;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.how-to-play h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.step {
    flex: 1 1 calc(50% - 15px);
    background-color: #666;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
}

.step h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.step p {
    font-size: 1.1rem;
    line-height: 1.8;
}
